body {
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.banner-section {
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}

section {
    display: flex;
    margin-bottom: 70px;
}

.all-content {
    width: 50%;
    padding-left: 2%;

}

.all-content img {
    width: 90%;
}

.banner-section .all-content h1 {
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.banner-section .all-content h2 {
    font-size: 50px;
    margin-bottom: 40px;
}

.banner-section .all-content h3 {
    margin-bottom: 20px;
}

.banner-section .all-content .heading-style {
    color: orange;
}

.banner-section .all-content p {
    color: dimgray;
    margin-bottom: 10px;
    max-width: 490px;
}

.banner-section .new-content {
    margin-left: 5%;
}

.banner-section .all-content .btn a {
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    background: linear-gradient(lightsalmon, tomato);
    border-radius: 6%;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
}

/* ----------------------middile-section---------------------- */
.middile-section {
    background-image: url(../asstes/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.banner-section .all-content .btn-submit a {
    text-decoration: none;
    color: white;
    padding: 10px 50px;
    background: linear-gradient(lightsalmon, tomato);
    border-radius: 5%;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
}

.banner-section .all-content .max-width {
    max-width: 540px;
}

/* ---------------------- box-shedow-section-------------------- */
.card-section {
    background-image: url(../asstes/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.card-section .card-parrent {
    display: flex;
    padding: 2%;
}

.card-section .card-parrent .card h3 {
    margin-bottom: 25px;
    margin-top: 50px;
    color: orange;
}

.card-section .card-parrent #backgraund {
    border-left: 7px solid blue;
}

.card-section .card-parrent .card {
    width: 50%;
    margin: 0 30px;
    box-shadow: 5px 7px 40px gray;
    border-left: 7px solid tomato;
    height: 400px;
    padding: 0px 10px;
    margin-bottom: 40px;
}

.card-section .card-parrent .card .card-div {
    padding: 0px 20px;

}

.card-section h1 {
    font-size: 40px;
    margin-top: 20px;
}

/* ---------------------fotter-section------------------- */
.fotter {
    text-align: center;
    padding: 20px 0;
}

.fotter a {
    text-decoration: none;
    color: cadetblue;
}